* {
    margin: 10px;
    padding: 5px;

}

header {
    display: flex;
    justify-content: center;
}

.sidesearch {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
}

#res-container {
    margin-bottom: 15px;

}

.forecast {
    display: flex;
    justify-content: flex-end;
}

#searchTitle {
    font-size: 2em;
    font-weight: bold;
}

#cityInput {
    width: 300px;

}

#searchBtn {
    width: 300px;
    background-color: aqua;
    color:brown;

}

.cityNames {
    width: 300px;

}

.weatherbox {
    border: 2px solid black;
    line-height: 40px;

}

.fiveDayForecast {
    display: flex;
    flex-direction: row;
}

#presetCities {
    display: flex;
    align-content: column;
}

.day {
    background-color: aliceblue;
    color: blueviolet;
}