* {
    margin: 10px;
    padding: 5px;

}

header {
    display: flex;
    justify-content: center;
}

/* .row {
    white-space: pre-wrap;
} */

/* .sidesearch {
    display: flex;
    flex-direction: column;
    /* width: 300px; 
} */

#searchBtn {
    width: 300px;
    background-color: aqua;
    color:brown;

}

#searchTitle {
    font-size: 2em;
    font-weight: bold;
}

#cityInput {
    width: 300px;

}

.cityNames {
    width: 300px;

}

/* .weatherbox {
    border: 2px solid black;
    line-height: 40px;

} */

.res-container {
    margin-bottom: 15px;

}

/* .forecast {
    display: flex;
    justify-content: flex-end;
} */

/* .fiveDayForecast {
    display: flex;
    flex-direction: row;
} */

.card {
    width: 100%;
}

.day {
    background-color: aliceblue;
    color: blueviolet;
}


/* .sidebar #presetCities {
    display: flex;
    flex-direction: column;
    width: 300px;
} */



